[
    {
        "type": "LISTENING",
        "value": "[❗] Bald ARK Server?"
    },
    {
        "type": "COMPETING",
        "value": "[⬆] Vote für uns auf topgg.kahlifar.de"
    },
    {
        "type": "PLAYING",
        "value": "[📎] Server IP 81.169.200.43:25900"
    },
    {
        "type": "WATCHING",
        "value": "[📩] https://dc.kahlifar.de"
    }
]