[
    {
        "type": "LISTENING",
        "value": "[❗] Geile Webseite kahlifar.de"
    },
    {
        "type": "COMPETING",
        "value": "[⬆] Vote für uns auf kahlifar.de/topgg"
    },
    {
        "type": "PLAYING",
        "value": "[📎] Server IP kahlifar.de"
    },
    {
        "type": "WATCHING",
        "value": "[📩] kahlifar.de/discord"
    }
]